<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum labore
        molestiae officia assumenda eos odio. Tempore vel molestiae deleniti
        culpa.
      </p>
    </header>
  </div>
</section>
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum labore
      molestiae officia assumenda eos odio. Tempore vel molestiae deleniti
      culpa.
    </p>
  </header>
  <div style="width: 20%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptates
        est nulla voluptate ratione ducimus sequi amet dicta? Libero, et.
      </div>
    </div>
  </div>
</section>
