<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A tenetur,
        dicta amet quaerat velit, omnis porro nisi accusantium, non rerum quis
        nulla at ipsa adipisci nesciunt aliquam sint est? Iusto.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--long">Start Now</a>
  </div>
</div>
