<article class="grid grid--1x2 feature">
  <div class="feature__content">
    <span class="icon-container">
      <svg class="icon icon--primary">
        <use xlink:href="./images/sprite.svg#easy"></use>
      </svg>
    </span>
    <h3 class="feature__heading">Super Easy to Use</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum
      officia quas dolorem. Nisi eum odio, laborum porro doloribus aut voluptas
      et ut sed velit consequuntur cumque tempora exercitationem quidem rerum
      dolorem aspernatur assumenda quisquam!
    </p>
    <a href="#" class="arrow-link">Learn More</a>
  </div>
  <div>
    <picture class="feature__image"
      ><source
        type="image/webp"
        srcset="./images/easy@2x.webp 2x, ./images/easy.webp 1x"
      />
      <source
        type="image/jpg"
        srcset="./images/easy@2x.jpg 2x, ./images/easy.jpg 1x"
      />
      <img class="feature__image" src="./images/easy.jpg" alt="" />
    </picture>
  </div>
</article>
